.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.carousel-img{
  height: 500px;
  margin-top: 150px !important;
}

.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  z-index: 2;
}

.next {
  right: 10px;
  transform: scale(-1);
}

.prev {
  left: 10px;
}

@media only screen and (max-width: 1024px) {
  .next,
  .prev {
    width: 20px;
    height: 20px;
  }

  .carousel-img {
    margin: 0;
    height: 300px;
    width: auto;
  }
}
