@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import './styles/_navbar', './styles/_variables', './styles/_typography',
  './styles/carousel', './styles/pagy', './styles/blog', './styles/about';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  cursor: default;
}

.full-page {
  margin-top: -100px;
}

.margin {
  margin-top: 100px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  // background-color: chartreuse;
  &_centered {
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}

.text-block {
  width: 460px;
}

//edit this block of code
.box-container {
  margin: 20px;
  width: 449px;
  height: 500px;
  border: 4px solid #000000;
}

//blockDesc
.block-desc {
  width: 400px;
  height: 400px;

  &_img {
    width: 80px;
    height: 80px;
  }

  //for project page
  &_project {
    cursor: pointer;

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transition: 1.5s;
    }

    &__text {
      font-size: 2.5rem;
      font-weight: 500;
    }

    &:hover &__img {
      opacity: 1;
      transition: 1.5s;
    }

    &:hover &__text {
      opacity: 0;
      transition: 1.5s;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
}

//modal
.modal {
  &_bg {
    width: 100%;
    height: 100vh;
    background-color: #000000a4;
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    z-index: 500;
  }

  &_container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
  }

  &_img {
    height: 400px;
    width: 400px;
    object-fit: cover;
  }

  &_text {
    width: 700px;
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  .box-container {
    width: 300px;
    height: 500px;
  }

  .text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .big-header {
    font-size: 4rem;
    padding: 0;
  }

  .block {
    height: 300px;
    width: 100%;
  }

  .full-page {
    margin-top: 100px;
  }

  .block-desc {
    width: 100px;
    height: 100px;
    img {
      width: 40px;
      height: 40px;
    }
  }

  //modal
  .modal {
    &_img {
      height: auto;
      width: 320px;
    }
    &_text {
      width: 100%;
    }
  }
}

.err_page {
  height: 91vh;
  background-color: #000000;
  h3 {
    color: white;
  }
}

::-webkit-scrollbar {
  display: none;
}

// input
.input {
  width: 350px;
  padding: 7px;
  background-color: transparent;
  border-bottom: 2px solid black;
  text-align: start;
  color: black;
  font-size: 1.2rem;
  &:focus {
    outline: none;
  }
  &_area {
    border: 2px solid black;
  }
}

.label {
  color: #000000;
  font-size: 1rem;
  font-weight: 500;
}

.btn {
  height: 55px;
  width: 150px;
  margin: 20px auto;
  padding: 15px auto;
  font-size: 1rem;
  font-weight: 500;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-size: 2px 100%, 100% 2px, 2px 100%, 100% 2px;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      0deg,
      black,
      black 25%,
      transparent 25%,
      transparent 75%,
      black 75%
    ),
    // left
    linear-gradient(
        90deg,
        black,
        black 25%,
        transparent 25%,
        transparent 75%,
        black 75%
      ),
    // top
    linear-gradient(
        180deg,
        black,
        black 25%,
        transparent 25%,
        transparent 75%,
        black 75%
      ),
    // right
    linear-gradient(
        270deg,
        black,
        black 25%,
        transparent 25%,
        transparent 75%,
        black 75%
      )
      // bottom
;
  transition: all 0.7s;

  &:hover {
    color: white;
    background-color: #000000;
    transition: all 0.7s;
  }
}
